<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".showBands">
            <!-- Handle shared preference files (.mdfshare ONLY) -->
            <!-- Intent filter for .mdfshare files using file:// scheme -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mdfshare" />
                <data android:pathPattern=".*\\.mdfshare.*" />
                <data android:pathPattern=".*\\..*\\.mdfshare" />
                <data android:pathPattern=".*\\..*\\..*\\.mdfshare" />
            </intent-filter>
            <!-- Intent filter for .mdfshare files using content:// scheme -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mdfshare" />
                <data android:pathPattern=".*\\.mdfshare.*" />
                <data android:pathPattern=".*\\..*\\.mdfshare" />
                <data android:pathPattern=".*\\..*\\..*\\.mdfshare" />
            </intent-filter>
            <!-- Intent filter for .mdfshare files using MIME type -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mdfshare" />
            </intent-filter>
        </activity>
    </application>
</manifest>





