<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:name="Bands70k"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/splashScreenTheme"
        android:backupAgent="DataBackupRecovery">
        <activity
            android:name=".showBands"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showBandDetails"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="showBandDetails"
            android:exported="true">
        </activity>

        <activity
            android:name=".preferenceLayout"
            android:label="Preferences"
            android:exported="true">
        </activity>

        <activity
            android:name=".filterMenu"
            android:label="Filter"
            android:exported="true">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Bands70k"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <receiver
            android:exported="true"
            android:name="com.Bands70k.NotificationPublisher"

            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action
                    android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.Bands70K"/>
            </intent-filter>
        </receiver>
        <service android:name=".BackgroundService" />
        <service
            android:exported="true"
            android:name=".MyFcmListenerService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- The following two intent-filters are the key to set homescreen -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>

        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <!--service
            android:exported="true"
            android:name="MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service -->
        <!-- [END instanceId_listener] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- Register the BackupAgent -->
        <service
            android:name=".DataBackupRecovery"
            android:permission="android.permission.BACKUP"
            android:exported="true"/>

        <meta-data android:name="com.Bands70k"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/new_bands_70k_icon" />
        <meta-data
            android:name="android.app.backup.BackupAgent"
            android:value=".DataBackupRecovery" />
    </application>
</manifest>
