<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515612127428-ru2k0stcecibvh54133h4uijet8cmppu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515612127428-ru2k0stcecibvh54133h4uijet8cmppu</string>
	<key>API_KEY</key>
	<string>AIzaSyC1XUbGMds4KnR40VAk417EDk_Cdp-_Qg8</string>
	<key>GCM_SENDER_ID</key>
	<string>515612127428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rdorn.-0000TonsBands</string>
	<key>PROJECT_ID</key>
	<string>spherical-plane-122200</string>
	<key>STORAGE_BUCKET</key>
	<string>spherical-plane-122200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515612127428:ios:793c633c9b2a70b3</string>
	<key>DATABASE_URL</key>
	<string>https://spherical-plane-122200.firebaseio.com</string>
</dict>
</plist>