<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>PLACEHOLDER_MMF_API_KEY</string>
    <key>GCM_SENDER_ID</key>
    <string>PLACEHOLDER_MMF_GCM_SENDER_ID</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.rdorn.mmfbands</string>
    <key>PROJECT_ID</key>
    <string>mmf-bands-placeholder</string>
    <key>STORAGE_BUCKET</key>
    <string>mmf-bands-placeholder.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>PLACEHOLDER_MMF_GOOGLE_APP_ID</string>
    <key>DATABASE_URL</key>
    <string>https://mmf-bands-placeholder-default-rtdb.firebaseio.com</string>
</dict>
</plist>
