<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_CLIENT_KEY</key>
	<string>oDjgHkO7KykuHkNUL9zzd7SMXW0u7M3F7lzFTJlv</string>
	<key>PARSE_APPLICATION_ID</key>
	<string>0xr66DyXXGIH5c0T6UV2ZrQBlSjkvPsBywaaxQ58</string>
</dict>
</plist>
